
body{
    position: relative;
    padding-bottom:3em;
    min-height:100vh;
}
.slide img{
    height: 65vh;
}
.principal-text{
    margin-top:10px;
}
.col img{
    width: 180px;
    height:160px ;
    margin-top:2px ;
}
.building{
    margin:10px;
}