.header{
    background-color: #00171F;
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.logo{
    height: 50px;
    border-radius:50%;
    margin:10px;
}
.list{
    list-style:none;
    color:white;
    display: flex;
    margin:0;
}
li{
    margin: 5px;
    cursor: pointer;
}
li:hover{
    color:#007EA7;
}
input{
    height: 20px;
    background-color: transparent;
    border-radius:5px;
    border-color:white;
    color: white;
   padding: 15px;
}
