@media(max-width:768px) {
.container {
    height: 100%;
    flex-direction: column;
    background-color: white;
}
.images {
    width: 50%;
}
.div-form-img{
    display: flex;
    justify-content: center;
}
.textarea{
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: center;
}
}
